.header {
  background-color: rgb(5, 1, 59);
  overflow: hidden;
  display: block;
  flex: initial;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
}
.logo {
  color: white;
  margin-top: 7%;
  padding: 1%;
}
* {
  font-family: "Nunito", sans-serif;
}
.cerebro {
  width: 10rem;
}
