<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 navigation">
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >PERSONAS</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/personas/create">ALTA</a>
            <a class="dropdown-item" routerLink="/personas/del">BAJA</a>
            <a class="dropdown-item" routerLink="/personas/modify"
              >MODIFICACION</a
            >
            <a class="dropdown-item" routerLink="/personas/single"
              >CONSULTAR UNA</a
            >
            <a class="dropdown-item" routerLink="/personas/all"
              >CONSULTA TODAS</a
            >
          </div>
        </li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >REUNIONES
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/reuniones/create">ALTA</a>
            <a class="dropdown-item" routerLink="/reuniones/del">BAJA</a>
            <a class="dropdown-item" routerLink="/reuniones/modify"
              >MODIFICACION</a
            >
            <a class="dropdown-item" routerLink="/reuniones/single"
              >CONSULTAR UNA
            </a>
            <a class="dropdown-item" routerLink="/reuniones/all"
              >CONSULTAR TODAS</a
            >
          </div>
        </li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >ASIGNACIONES</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/asignacion/create"
              >ASIGNAR REUNION</a
            >
            <a class="dropdown-item" routerLink="/asignacion/all"
              >CONSULTA TODO</a
            >
            <a class="dropdown-item" routerLink="/asignacion/personas"
              >CONSULTA POR PERSONA</a
            >
            <a class="dropdown-item" routerLink="/asignacion/reuniones"
              >CONSULTA POR REUNION</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
