<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div
      class="col-md-3 col-lg-3 col-12 mt-5"
      *ngFor="let reunion of reuniones"
    >
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{ reunion.nombrePersona }} {{ reunion.apellido }}
          </h5>

          <p class="card-text">
            <span class="important"> DNI: </span> {{ reunion.dni }}
          </p>
          <p class="card-text">
            <span class="important"> Tipo de reunion: </span> {{ reunion.tipo }}
          </p>
          <p class="card-text">
            <span class="important"> Nombre de reunion: </span>
            {{ reunion.nombreReunion }}
          </p>
          <p class="card-text">
            <span class="important"> Titulo de reunion: </span>
            {{ reunion.titulo }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
